// Here you can add other styles

Label, Form, .tablediv {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

label {
    text-decoration-line: underline;
}

.EditButton {
    margin-right: 10px;
}
